<div class="homepage-container">
  <img [src]="images.family" alt="image" />
  <div class="overlay">
    <div>
      <span>{{text.firstLine}}</span>
      <span>{{text.secondLine}}</span>
      <button>BUY FUND</button>
      <div class="nav-button-container">
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
      </div>
    </div>
  </div>
  

</div>





