<div class="homepage-container">
  <img class="top-image" [src]="images.family" alt="image" />
  <div class="overlay">
    <div class="container-1">
      <span class="line-1">{{text.firstLine}}</span>
      <span class="line-2">{{text.secondLine}}</span>
      <button>BUY FUND</button>
      <div class="nav-button-container">
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
        <button><span>CLICK</span><p>test</p></button>
      </div>
      <div class="central-div1">
        <div class="central-div-1"><img src="../../assets/family2.jpeg" alt=""></div>
        <div class="central-div-2">
          <div class="central-div-2-1">
            <span class="span-1">Lorem ipsum </span>
            <span class="span-2">Lorem, ipsum l</span>
            <span class="span-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, illum. Nostrum blanditiis consequatur pariatur cupiditate reprehenderit perspiciatis totam tempora cum voluptas recusandae deserunt distinctio rem saepe esse, sit illo corrupti.</span>
          </div>
        </div>
      </div>



      <div class="central-div1">
        <div class="test">
          <span class="span-1">Lorem ipsum </span>
          <span class="span-2">Lorem, ipsum l</span>
          <span class="span-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, illum. Nostrum blanditiis consequatur pariatur cupiditate reprehenderit perspiciatis totam tempora cum voluptas recusandae deserunt distinctio rem saepe esse, sit illo corrupti.</span>
        </div>
        <div class="central-div-1">
          <div class="image-container">
            <img src="../../assets/family2.jpeg" alt="">
          </div>
        </div>
      </div>


    </div>
  </div>
  

</div>





