.homepage-container {
  margin-top: 50px;
  img {
    position: absolute;
  }
  .overlay {
    width: 100vw;
    height: 500px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    position: absolute;
    .container-1 {
      margin-top: 180px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;

      .line-1 {
        font-size: 32pt;
        font-weight: bold;
        color: white;
      }

      .line-2 {
        font-size: 32pt;
        font-weight: bold;
        color: white;
        padding-top: 25px;
      }
      button {
        width: 20%;
        font-size: 8pt;
        padding: 10px 0;
        border-radius: 10px;
        border: solid 1.5px black;
        font-weight: bold;
        color: white;
        background-color: rgb(209, 116, 10);
        margin-top: 15px;
      }

      .nav-button-container {
        display: flex;
        margin-top: 150px;
        flex-direction: row;
        justify-content: center;

        button {
          height: 15vh;
          width: 200px;
          background-color: rgb(29, 27, 139, 0.95);
          margin: 0 5px;
          border-radius: 5px;
          padding: 20px 0;
        }
        span {
          color: rgb(209, 116, 10);
        }
      }
      .central-div1 {
        width: 70vw;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        border: 20px solid rgb(224, 224, 224);

        .central-div-1 {
          width: 50%;
          background-color: rgb(224, 224, 224);
        }
        .central-div-2 {
          background-color: rgb(224, 224, 224);
          width: 50%;
          height: 338px;
          display: flex;
          align-items: center;
          padding-left: 50px;

          .central-div-2-1 {
            display: flex;
            flex-direction: column;
            padding: 10px 10px;

            .span-1 {
              font-weight: bold;
              font-size: 12pt;
              padding: 8px 0px;
            }
            .span-2 {
              font-size: 32pt;
              font-weight: bold;
              padding: 8px 0px;
            }
            .span-3 {
              font-weight: lighter;
              padding: 8px 0px;
              padding-top: 30px;
              width: 70%;
            }
          }
        }
      }
    }
  }
}

.test {
  display: flex;
  background-color: rgb(224, 224, 224);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 50%;
  height: 350px;
  .span-1 {
    font-weight: bold;
    font-size: 12pt;
    padding: 8px 0px;
    text-align: right;
  }
  .span-2 {
    font-size: 32pt;
    font-weight: bold;
    padding: 8px 0px;
  }
  .span-3 {
    font-weight: lighter;
    padding: 8px 0px;
    padding-top: 30px;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
}
