.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.sub-container-1 {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-self: center;
  width: 50vw;
}

.sub-container-1-1 {
  display: flex;
  flex-direction: column;
  width: 25vw;
  border: 1px solid black;
  padding: 10px 10px;
}

.sub-container-1-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px 50px;
}

.profile {
  width: 10vw;
  border-radius: 100px;
  border: solid 2px black;
}

.sub-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-row-column {
  display: flex;
  flex-direction: column;
}

.sub-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
