<div class="main-container"> 
  <div class="sub-container-1">
    <div class="sub-container-1-1">
      <h2>General information</h2>
      <div class="sub-row-1">
        <div class="sub-row-column">
          <h3>First Name</h3>
          <input />
          <h3>Birthdate</h3>
          <input />
          <h3>Email</h3>
          <input />
        </div>
        <div class="sub-row-column">
          <h3>Last Name</h3>
          <input />
          <h3>Age</h3>
          <input />
          <h3>Member since</h3>
          <span>2022-01-18</span>
        </div>
      </div>
      <h2>My Portfolio</h2>
      <div class="sub-row-column">
        <h3>Last Name</h3>
        <input />
        <h3>Age</h3>
        <input />
        <h3>Member since</h3>
        <span>2022-01-18</span>
      </div>
    </div>
    <div class="sub-container-1-2">
      <div class="sub-column">
        <img class="profile" src="../../assets/profile.png" alt="" />
        <span>username12345</span>
        <span>email@email.com</span>
        <button>Reset Password</button>
        <input placeholder="Enter old password" />
        <input placeholder="Enter new password" />
        <input placeholder="Retype new password" />
        <button>Reset Password</button>
      </div>
    </div>
  </div>
</div>
